// .sidebar {
//   width: 240px;
//   background: #ffffff;
//   border-right: 1px solid #e0e0e0;
//   padding: 1rem;

//   .logo {
//     font-size: 22px;
//     font-weight: bold;
//     margin-bottom: 2rem;
//   }

//   nav a {
//     display: block;
//     padding: 10px;
//     color: #444;
//     border-radius: 6px;
//     cursor: pointer;

//     &.active,
//     &:hover {
//       background: #eef2ff;
//       color: #3f51b5;
//     }
//   }
// }


.sidebar {
  width: 260px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #eee;
  transition: width 0.3s ease;
  padding: 15px;
}

.sidebar.collapsed {
  width: 80px;
}

/* Header */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* Hamburger */
.hamburger {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.menu li:hover,
.menu li.active {
  background: #eef2ff;
}

/* Icons */
.icon {
  font-size: 18px;
  min-width: 25px;
  text-align: center;
}

/* Center icons when collapsed */
.sidebar.collapsed .menu li {
  justify-content: center;
}
